{% extends 'base.html' %} 
{% block content %}

<div class = "betting-background">
    <div class="betting-page" id="betting-page"
        {% if argentina %}
        style="background-image: url('/static/images/argentina.1.1.0.jpg'); background-size: cover; background-position: center;"
        {% endif %}>
        <audio id="chip-sound" src="static/audio/chip.1.1.0.mp3"></audio>
        <audio id="reset-sound" src="static/audio/handfull-of-poker-chips-95810.1.1.0.mp3"></audio>

    <div class="money-info">
        <p class="money-total">Money: $<span id="total-money">{{money}}</span></p>
        <p class="bet-total">Bet: $<span id="total-bet">0</span></p>
    </div>

    <div class="chip-container">

        {% for value, img in [(1, 'chip_0.1.1.0.png'),
                            (5, 'chip_1.1.1.0.png'),
                            (10, 'chip_2.1.1.0.png'),
                            (25, 'chip_3.1.1.0.png'),
                            (50, 'chip_4.1.1.0.png'),
                            (100, 'chip_5.1.1.0.png'),] %}
        <div class="chip" id="{{ value }}">
            <img src="static/images/{{ img }}" alt="{{ value }}_chip" class="chip-img">
            <span class="chip-value">${{ value }}</span>
        </div>
        {% endfor %}

    </div>

    <div class="bet-actions">
        <button id="undo-button" class="bet-btn">Undo</button>
        <button id="reset-button" class="bet-btn">Reset</button>
        <button id="start-game" class="start-btn">Start Game</button>
    </div>

        <div class = "argentina">
            <button type = "submit" id = "argentina" class = "argentina-button">
                argentina mode
            </button>
        </div>
    </div>
</div>



<script>
    const in_game = {{ in_game | tojson | safe }}; 
    const argentina = {{ argentina | tojson | safe }};
    const startMoney = {{ money| tojson | safe }};
</script>

<script src="{{ url_for('static', filename='js/bets_scripts.1.1.0.js') }}"></script>
{% endblock %}
