{% extends 'base.html' %} 
{% block content %}
<div class="home-page">
    <div class="home-overlay">
        <h1 class="home-title">Blackjack</h1>
        <p class="home-subtitle">Enter name to start game</p>
        <form action="/add_player" method="POST" id="add-player-form" class="home-form">
            <input class="home-input" type="text" placeholder="Name" name="name" required>
            <button class="home-button" type="submit">Start Game</button>
        </form>
    </div>
</div>
<div class = "version">
    1.0.1
</div>
{% endblock %}
