{% extends 'base.html' %} 
{% block content %}

<div class = "play-background">
    <div class = "text-stuff">
        <div class="scores-box">
            <h3 class="score-box-label">Scores</h3>

            <div class="scores">
                <div class="score">
                    <span class="score-label">Player</span>
                    <span class="score-value" id="player-score">0</span>
                </div>

                <div class="score">
                    <span class="score-label">Dealer</span>
                    <span class="score-value" id="dealer-score">?</span>
                </div>
            </div>
        </div>
        <div id = "actions-box" class="actions">
                <div class="hit-stay">
                    <button id="hit-button"  class="btn hit-btn">Hit</button>
                    <button id="stay-button" class="btn stay-btn">Stay</button>
                </div>
        </div>
    </div>

    <div class="game-board" id="game-board">

        <div class="dealer-side">
                <div class="hand" id="dealer-hand">
                </div>
        </div>
        
        <div class="player-side">
                <div class="hand" id="player-hand">
                </div>
        </div>

        </div>
    </div>

<script>
    const game_data = {{ data | tojson | safe }}; 
</script>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
